@model ResultUIAboutDto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid py-5 about bg-light">
    <div class="container py-5">    
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="video border">
                    <button type="button" class="btn btn-play" data-bs-toggle="modal" data-src="@Model.AboutYoutubeUrl" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.3s">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Hakkımızda</h4>
                <h1 class="text-dark mb-4 display-5">@Model.AboutTitle</h1>
                <p class="text-dark mb-4">
                    @Model.AboutDesc
                </p>
                <div class="row mb-4">
                    <div class="col-lg-6">
                        <h6 class="mb-3"><i class="fas fa-check-circle me-2"></i>Sport Aktiveleri</h6>
                        <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-primary"></i>Dışarıda oyunlar</h6>
                        <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-secondary"></i>Besleyici Gıdalar</h6>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="mb-3"><i class="fas fa-check-circle me-2"></i>Yüksek Güvenlik</h6>
                        <h6 class="mb-3"><i class="fas fa-check-circle me-2 text-primary"></i>Dostça Çevret</h6>
                        <h6><i class="fas fa-check-circle me-2 text-secondary"></i>Kaliteli Öğretmenler</h6>
                    </div>
                </div>
                <a href="" class="btn btn-primary px-5 py-3 btn-border-radius">Detayları Gör</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>